li:first-child {
    color: teal;
}
li:nth-child(2) {
    color: red;
}
li:nth-child(3) {
    color: green;
}
li:nth-child(4) {
    color: black;
}
li:last-child {
    color: purple;
}
body {
background-color: #dff3ff;
font-family: Arial, 
sans-serif;
color: #064b91
font-size 14px;
}

title {
    color: #0056b3
    font-size 28px
}

p {
    font-style: italic;
}
ul {
    padding-left: 40px;
}